*{
	margin:0;
	padding:0;
}

.header{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	
}

button{
	height:20px;
}
.header ul{
	list-style:none;
	display:block;
	
}
.header a{
	margin-right:10px;
	border-right:1px solid #ccc;
	padding-right:10px;
}

.body{
	margin-left:20px;
	margin-right:20px;
}
.padding{
	padding-left:20px;
}

.form div{
	margin-bottom:10px;
}
.widget{
	padding-top:8px;
	border-top:1px solid #333;
}

.requests{
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	margin-top:10px;
	
	
}

.requests p{
	margin-left:15px;
	color:#aaa;
	font-size:0.75em;
}

.requests div{
	text-align:right;
	font-size:0.75em;
}
